.wrapper {
   height: 100px;
   background-color: #f2f6fc;
   width: 100%;
   position: sticky;
   top: 0;
   z-index: 10;
   transition: background-color 0.3s ease;
}
.scrolled {
   background-color: #d5e2f7; /* Đổi màu sắc khi phần tử cuộn */
}

.header__navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 24px 0;
   height: 80px;
}

.header__navbar-list {
   list-style-type: none;
   padding-left: 0;
   margin: -4px;
   font-size: 0;
}

.header__navbar-item {
   padding: 0 15px;
}

.header__navbar-item-link {
   text-decoration: none;
   color: #000000de;
   font-weight: 700;
}

.header__navbar-item-link:hover {
   color: #e10422;
}

.header__navbar-item,
.header__navbar-link {
   display: inline-flex;
   font-size: 1.4rem;
   align-items: center;
}

.header__navbar-logo-img {
   width: 55px;
   height: 55px;
}

.header__navbar-slogan {
   margin-left: 20px;
   font-weight: 700;
   animation: change-color 5s infinite;
}

.header__navbar-icon-link {
   display: inline-flex;
   align-items: center;
}

.header__navbar-item-icon {
   font-size: 2.4rem;
   color: #e10422;
   margin: -5px 4px;
   text-decoration: none;
}
.header__school {
   position: absolute;
   top: 78px;
   left: 710px;
   background-color: #fff;
   height: 330px;
   width: 295px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   display: none;
   animation: fadeIn ease-in 0.3s;
   box-shadow: 0 2px 8px #ccc;
   z-index: 5;
}
.header__school::after {
   content: '';
   display: block;
   position: absolute;
   top: -30px; /* Đặt giá trị này để phần tử nằm trên đỉnh của .header__school */
   right: 105px;
   width: 80px;
   height: 40px;
}

.header__school-list {
   width: 100%;
   height: 310px;
   list-style: none;
   padding: 0px 0px 0px 10px;
   overflow-y: scroll;
   margin: 10px -10px 10px -10px; /* Điều chỉnh khoảng cách top và bottom theo nhu cầu của bạn */
}
.header__navbar-item--has-list:hover .header__school {
   display: block;
}

.header__school-item {
   padding: 5px 0;
}
.header__school-item-name {
   text-decoration: none;
   color: rgb(28, 57, 103);
   background-color: rgba(0, 0, 0, 0);
   line-height: 20px;
   vertical-align: baseline;
   letter-spacing: normal;
   margin: 0px;
   padding-left: 10px;
   font-weight: 700;
   text-align: left;
   font-size: 13px;
   /* text-decoration: none solid rgb(28, 57, 103); */
}
.header__school-item-name:hover {
   text-decoration: underline;
}
.header__cart {
   position: absolute;
   display: block;
   top: 60px;
   right: 450px;
   border: 1px solid;
   background-color: rgba(97, 97, 97, 0.92);
   color: #ffffff;
   margin: 14px 2px 2px;
   padding: 4px 8px;
   border-radius: 5px;
   display: none;
}
.header__cart::after {
   content: '';
   display: block;
   position: absolute;
   top: -70%;
   right: 20%;
   width: 40px;
   height: 20px;
}
.header__cart-name {
   font-size: 1.1rem;
   color: #ffffff;
}
.header__navbar-item-has-cart:hover .header__cart {
   display: block;
}
@keyframes change-color {
   0% {
      color: #ff0000;
   }

   50% {
      color: #ffa500;
   }

   100% {
      color: #ff0000;
   }
}

@keyframes ripple {
   from {
      opacity: 1;
      transform: scale(0);
   }

   to {
      opacity: 0;
      transform: scale(10);
   }
}
@keyframes fadeIn {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
