// Login.module.scss
.container {
   background-color: #f6f5f7;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.screen {
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
   position: relative;
   overflow: hidden;
   width: 768px;
   max-width: 100%;
   min-height: 480px;

   &__overlay {
      display: flex;
   }

   &__overlay-left {
      width: 50%;
      background-color: #ffffff;
      align-items: center;
      justify-content: center;
      padding: 25px 50px;
      height: 100%;
   }

   &__overlay-right {
      width: 50%;
      position: relative;

      .image-wrapper {
         width: 100%;
         height: 100%;
         position: relative;

         .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }

         .image-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(64, 171, 165, 0.638);
            z-index: 2;
         }
      }
   }
   .content {
      text-align: center;

      &__icon {
         font-size: 40px;

         border: 1px solid rgba(0, 0, 0, 0.3);
         border-radius: 5px;
         padding: 5px;
      }
      &__title {
         font-size: 24px;
         margin-top: 15px;
      }
      &__desc {
         font-size: 13px;
         margin-top: 15px;
         margin-bottom: 20px;
      }
   }
   .form {
      &__input {
         display: flex;
         flex-direction: column;
         margin-bottom: 15px;
         text-align: left !important;
         text-decoration: none;
      }
      &__label {
         font-size: 14px;
         font-weight: 600;
         color: #333;
         margin-bottom: 10px;
      }

      &__input-field {
         width: 100%;
         padding: 10px;
         border: 1px solid #ccc;
         border-radius: 5px;
         font-size: 14px;
         color: #333;
         outline: none;
         transition: all 0.3s ease;
         &:focus {
            border-color: #007bff;
         }
      }
      &__password {
         display: flex;
         justify-content: flex-end;
         margin-bottom: 5px;
         margin-top: -20px;

         &__icon {
            font-size: 15px;
            margin-right: 5px;
            color: #333;
            margin-bottom: -2px;
         }
      }
      &__password-regex {
         display: flex;
         margin: 9px -8px 0px -17px;
         justify-content: space-around;

         &__icon-uncheck {
            font-size: 11px;

            color: #333;
            opacity: 0.5;
            margin-bottom: -2px;
         }
         &__icon-check {
            font-size: 11px;

            color: #00ff0d;
            margin-bottom: -2px;
         }
         &__text-uncheck {
            font-size: 10px;
            opacity: 0.5;
            margin-left: 5px;
         }
         &__text-check {
            font-size: 10px;
            font-weight: 600;
            margin-left: 5px;
            color: #00ff0d;
         }
      }
      &__submit {
         width: 100%;
         padding: 10px;
         margin-bottom: 10px;
         border: none;
         border-radius: 5px;
         font-size: 16px;
         font-weight: 600;
         color: #fff;
         background-color: #007bff;
         cursor: pointer;
         transition: all 0.3s ease;
         &:hover {
            background-color: #0056b3;
         }
         &:disabled {
            background-color: #ccc; // Màu nền khi bị vô hiệu hóa
            cursor: not-allowed;
         }
      }
      &__succsess {
         display: flex;
      }
      &__success-icon {
         font-size: 15px;
         color: #00ff0d;
         margin-right: 2px;
         margin-bottom: -3px;
         margin-top: 5px;
      }
      &__success-text {
         font-size: 12px;
         font-weight: 600;
         color: #00ff0d;
         margin-bottom: 10px;
         margin-top: 5px;
      }
      &__error {
         display: flex;
      }
      &__error-icon {
         font-size: 15px;
         color: #ff0000;
         margin-right: 2px;
         margin-bottom: -3px;
         margin-top: 5px;
      }
      &__error-text {
         font-size: 12px;
         font-weight: 600;
         color: #ff0000;
         margin-bottom: 10px;
         margin-top: 5px;
      }
   }
   .footer {
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;

      &:hover {
         text-decoration: underline;
      }
   }
   .footer__icon-back {
      margin-right: 6px;
      font-size: 12px;
      font-weight: 300;
      margin-bottom: -1px;
   }
   .step {
      margin-top: 25px;

      &__icon {
         font-size: 40px;
         opacity: 0.5;
         margin-left: 10px;
      }

      .actived {
         color: #007bff;
      }
   }
}
