.item-course-in-cart {
   display: flex;
   align-items: center;
}
.check-box {
   padding: 9px;
}
.check-box-css {
   cursor: pointer;
   width: 16px;
   height: 16px;
}
.item-course-wrapper {
   background-color: #fff;
   margin-top: 10px;
   border-radius: 10px;
   cursor: pointer;
   display: flex;
   flex-flow: wrap;
   width: 100%;
}
.item-course-left {
   flex-basis: 33.3333%;
   flex-grow: 0;
   max-width: 33.3333%;
}
.item-course-image {
   width: 100%;
   position: relative;
   height: 100%;
}
.item-course-right {
   display: flex;
   padding: 10px 10px 5px;
   flex-basis: 66.6667%;
   flex-grow: 0;
   max-width: 66.6667%;
}
.item-course-info {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-basis: 66.6667%;
   flex-grow: 0;
   max-width: 66.6667%;
}
.item-course-title {
   font-size: 14px;
   line-height: 21px;
   font-weight: 700;
}
.item-course-rate {
   display: flex;
   align-items: center;
   margin: 5px 0;
}
.item-course-rate span {
   font-size: 11px;
   line-height: 16.5px;
   font-weight: 400;
}
.rate-star {
   color: #f5af00;
   width: 14px;
   height: 14px;
   fill: currentcolor;
}
.item-course-description {
   overflow: hidden !important;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   font-size: 13px;
   font-weight: 400;
   line-height: 19.5px;
}
.item-course-price {
   display: flex;
   justify-content: space-between;
   margin-left: 20px;
   flex-basis: 33.3333%;
   flex-grow: 0;
   max-width: 33.3333%;
}
.cost-real {
   line-height: 24px;
   font-size: 16px;
   font-weight: 400;
}
.remove-inner {
   width: 25px;
   height: 25px;
   font-size: 20px;
   border-radius: 50%;
   border: none;
   background-color: #ddd;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
}
.remove-inner:hover {
   background-color: red;
   color: #fff;
}
.remove-inner:active {
   background-color: rgba(255, 0, 0, 0.5);
   color: #fff;
}
